.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.filterable-product-list {
  width: 30ch;
}

.product-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-category {
  font-weight: bold;
}

.product-name {
  width: 50%;
  float: left;
}

.product-price {
  width: 50%;
  float: right;
}

.product-out-of-stock {
  color: red;
}
