body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.filterable-product-list {
  width: 30ch;
}

.product-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-category {
  font-weight: bold;
}

.product-name {
  width: 50%;
  float: left;
}

.product-price {
  width: 50%;
  float: right;
}

.product-out-of-stock {
  color: red;
}
